# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# environment
.env
.env*.local
.env.local

# database
*.db
*.db-journal
*.sqlite

# logs
logs
*.log
npm-debug.log*

# uploads (runtime user files)
/uploads/*
!/uploads/.gitkeep

# misc
.DS_Store
*.pem
.vercel
.idea
.vscode
/coverage

# typescript
*.tsbuildinfo
